<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Pólizas - SeguriPlus</title>

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/administradores/gestionPolizas.css}" />
</head>

<body>
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a th:href="@{dashboard}">Inicio</a></li>
        <li><a th:href="@{registroSeguros}">Gestión Seguros</a></li>
        <li><a th:href="@{gestionClientes}">Gestión Clientes</a></li>
        <li><a th:href="@{gestionPolizas}" class="active">Gestión Pólizas</a></li>
        <li><a th:href="@{informes}">Informes y Estadísticas</a></li>
      </ul>
    </nav>
  </aside>

  <main class="content">
    <header class="top-bar">
      <h1>Gestión de Pólizas</h1>
      <a href="dashboard.html">Volver al Dashboard</a>
    </header>

    <section class="form-section">
      <h2 id="tituloForm">Registrar Nueva Póliza</h2>
      <form th:action="@{/administradores/guardarPolizaMod}" th:object="${polizaModelo}" method="post"  id="polizaForm">
        <input type="hidden" th:field="*{id_modelos}" />

        <label>Seguro</label>
        <select name="seguro_id" required>
            <option value="" disabled selected>Seleccione un seguro</option>
            <option th:each="seg : ${seguros}" 
              th:value="${seg.seguro_id}" 
              th:text="${seg.tipo}"></option>
        </select>
        
        <label>Administrador Responsable</label>
        <select name="documento_admin" required>
            <option value="" disabled selected>Seleccione un administrador</option>
            <option th:each="adm : ${administradores}"
                    th:value="${adm.documento_admin}"
                    th:text="${adm.nombre}"></option>
        </select>
        
        <label>Plan</label>
        <input type="text" th:field="*{nombre_plan}" placeholder="Ej: Plan Oro, Básico, etc." required/>
        
        <label>Descripción</label>
        <textarea th:field="*{descripcion}" rows="3" placeholder="añade una pequeña descripción"></textarea>
        
        <label>Condiciones Generales</label>
        <textarea th:field="*{condiciones_generales}" rows="3" placeholder="Condiciones"></textarea>
      

        <div class="form-buttons">
          <button type="submit">Guardar Póliza</button>
          <button type="button" id="btnCancelEdit" style="display:none;">Cancelar edición</button>
        </div>
      </form>
    </section>


    <section class="seguimiento-section">
      <h2>Seguimiento y control de estados</h2>
      <p>Cambie el estado de una póliza directamente desde la tabla y especifique motivo si la cancelación es necesaria.</p>
    </section>


    <section class="cert-section">
      <h2>Generación de certificados</h2>
      <p>Seleccione una póliza en la tabla y presione "Descargar certificado".</p>
      <button id="btnCert" disabled>Descargar certificado PDF</button>
    </section>


    <section class="table-section">
      <div class="barra-filtros">
        <input type="text" id="busqueda" placeholder="Buscar por cliente, tipo o plan…"/>
        <select id="filtroEstado">
          <option value="">Todos los estados</option>
          <option>Vigente</option>
          <option>En renovación</option>
          <option>Vencida</option>
          <option>Cancelada</option>
        </select>
      </div>

      <table id="tblPolizas">
        <thead>
          <tr>
            <th>ID</th>
            <th>Seguro</th>
            <th>Seguro ID</th>
            <th>Documento Admin</th>
            <th>Plan</th>
            <th>Descripción</th>
            <th>Condiciones Generales</th>
          </tr>
        </thead>
        <tbody>
            <tr th:each="pm : ${polizasModelos}">
                <th th:scope="row" th:text="*{pm.id_modelos}" ></th>
                <td th:text="*{pm.seguro.tipo}" ></td>
                <td th:text="*{pm.seguro.seguro_id}" ></td>
                <td th:text="*{pm.documento_admin.documento_admin}" ></td>
                <td th:text="*{pm.nombre_plan}" ></td>
                <td th:text="*{pm.descripcion}" ></td>
                <td th:text="*{pm.condiciones_generales}" ></td>
                
                <td>
                      <form th:action="@{/administradores/eliminarPolizas}" method="post">
                          <input type="hidden" name="poliza_id" th:value="${pm.id_modelos}" />
                          <button type="submit" class="btn btn-danger"
                                  onclick="return confirm('¿Seguro que deseas eliminar esta poliza?');">
                              Eliminar
                          </button>
                      </form>
                  </td>
                
            </tr>
        </tbody>
      </table>
    </section>
  </main>
  <footer class="bottom-nav">
    <a th:href="@{dashboard}">Inicio</a>
    <a th:href="@{/clientes/ayuda}">Ayuda</a>
    <a th:href="@{/clientes/contacto}">Contacto</a>
    <a th:href="@{logout}">Cerrar sesión</a>
  </footer>


  <!--<script th:src="@{/js/gestionPolizas.js}"></script>-->
</body>
</html>
