<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tienda - SegurApp</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/usuarios/compraSeguros.css}" />
</head>

<body>

  <aside class="sidebar">
    <nav>
      <ul>  
        <li><a th:href="@{dashboard}">Inicio</a></li>
        <li><a th:href="@{compraSeguros}">Comprar seguros</a></li>
        <li><a th:href="@{polizasUsuarios}">Gestionar seguros</a></li>
        <li><a th:href="@{pagosUsuarios}">Gestión de Pagos</a></li>
        <li><a th:href="@{contacto}">Contacto</a></li>
      </ul>
    </nav>
  </aside>


  <main class="content">
    <header class="top-bar">
      <h1>Tienda de Seguros</h1>
      <a th:href="@{dashboard}">Regresar al inicio</a></li>
    </header>

    <section class="productos-section">
      <h2>Seguros disponibles</h2>
      
      <div class="productos-grid">
        <table id="tblSeguros">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Cobertura</th>
            <th>Costo</th>
            <th>Duracion</th>
            <th>Aseguradora</th>
            <th>Beneficios</th>
            <th>Exclusiones</th>
            <th>Condiciones</th>
            <th>Region</th>
          </tr>
        </thead>
        <tbody>
            <tr th:each="seg:${seguros}" >
                <th scope="row" th:text="${seg.seguro_id}"></th>
                <td th:text="${seg.tipo}"></td>
                <td th:text="${seg.cobertura}"></td>
                <td th:text="${seg.costo}"></td>
                <td th:text="${seg.duracion}"></td>
                <td th:text="${seg.aseguradora}"></td>
                <td th:text="${seg.beneficios}"></td>
                <td th:text="${seg.exclusiones}"></td>
                <td th:text="${seg.condiciones}"></td>
                <td th:text="${seg.region}"></td>
                <td>
                    <form th:action="@{'/clientes/compraSeguros/' + ${seg.seguro_id}}" method="post"> 
                        <button type="submit" class="btnGuardar">Comprar</button>
                    </form>
                </td>
            </tr>
        </tbody>
      </table>
      </div>
    </section>


    <section class="carrito-section">
      <h2>Mi carrito</h2>
      <table id="tblCarrito">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Plan</th>
            <th>Costo</th>
            <th>Cant.</th>
            <th>Total</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="total-carrito">
        <strong>Total: $<span id="totalCarrito">0</span></strong>
      </div>
      <button id="btnFinalizarCompra">Finalizar compra</button>
    </section>
  </main>

  <footer class="bottom-nav">
    <a th:href="@{dashboard}">Inicio</a>
    <a th:href="@{ayuda}">Ayuda</a>
    <a th:href="@{contacto}">Contacto</a>
    <form th:action="@{/perform_logout}" method="post">
        <input type="submit" value="Cerrar sesión" />
    </form>  
  </footer>

  <script th:src="@{/js/compraSeguros.js}"></script>
</body>
</html>
