<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Proveedor</title>
    <link rel="stylesheet" th:href="@{/estilos.css}">
</head>
<body>
    <h1 th:text="${cliente.documento == null ? 'Nuevo Cliente' : 'Editar Cliente'}"></h1>
    <form th:action="@{/clientes/guardar}" th:object="${cliente}" method="post">
        <label>Documento:</label>
        <input type="text" th:field="*{documento}" /><br>
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" required /><br/>
        <label>Tipo Documento:</label>
        <input type="text" th:field="*{tipo_documento}" /><br/>
        <label>Edad:</label>
        <input type="number" th:field="*{edad}" /><br/>
        <label>Telefono:</label>
        <input type="text" th:field="*{telefono}" /><br/>
        <label>Email:</label>
        <input type="email" th:field="*{email}" /><br/>
        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br/>
        <button type="submit">Guardar</button>
    </form>
    <a th:href="@{/proveedores}">Volver</a>
</body>
</html>


